@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

/* ---- Layout Section ---- */
* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat Alternates', sans-serif;
}

body {
    line-height: 1.2;
    letter-spacing: 5px;
    font-variant: small-caps;

    background-color: rgba(122, 109, 105, 0.322); 
}

/* ---- Navigation Bar / Header ---- */
nav {
    display: flex;
    flex-wrap: wrap;
    
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    overflow: hidden;
    
    font-size: 35px;
    text-transform: uppercase;

    color: white;
    background-color: coral;
    font-family: 'Montserrat Alternates', sans-serif;
}

nav ul li {
    padding: 15px 20px 5px 0px;

    font-size: 16px;
    list-style: none;
}

nav a {
    font-weight: bold;
    text-decoration: none;
    
    color:white;
}

nav a:hover {
    background-image: linear-gradient(teal, lightblue);
} 

nav a:active {
    background-image: linear-gradient(teal, lightblue);
}

.current {
    background-image: linear-gradient(teal, lightblue);
}

/* ---- Registration Form ---- */
.register {
    height: 535px;

    display:flex;
    justify-content: center;
    align-items: center; 

    overflow: hidden;
}

form {
    width: 450px;
    border-radius: 1em;
    border: 5px solid teal;

    font-family: 'Roboto', sans-serif;
    
    color: black;
    background-color: rgba(122, 109, 105, 0.13); 
}

legend {
    padding-top: 2px;
    padding-bottom: 10px;

    text-align: center;
    font-size: 18px;
    font-weight: 500;
 }

 label {
    margin: 7px;
    display: inline-block;
    
    padding-top: 15px;
    /* text-align: left; */
    
    font-size: 16px;
}

form p {
    padding: 5px, 0, 10px, 0;
    
    font-size: 12px;
    text-align: center;
}

input, textarea { 
    width:  165px; 
    height: 25px;

    border: 1 px solid #999;
} 

#mail {
    width: 255px;
}

/* -- linked to javascript -- */
input.error {
    border-color: red;
}

/* -- below works, but the border is red upon page loading -- */

/* input:invalid {
    border: 2px dashed red;
}  */

/*-----------------------------------------------------*/

span.required {
    color: red;
}

button {
    margin: 5px 0 15px 15px;
    padding: 10px;

    color:white;
    background-color: coral;
}
    
/* ---- Footer ---- */
footer {
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;

    text-align: center;
	font-size: 16px;
    font-family: 'Montserrat Alternates', sans-serif;
   
	color:white;
	background: coral
} 
    





