nav
  a(href='/') 
    img(src='images/travel_logo.png' alt='Travel Experts company logo' width='125' height='125')
  a(href='/') 
    h1 Travel Experts
  ul
    li
      a(href='/login') Login
    li
      a(href='/register') Sign Up
    li
      a(href='/#banner_1') Gallery
    li
      a(href='/#contact') Contact Us

      