<!DOCTYPE html>
<html lang="en">
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' type='text/css' href='css/register.css')
  title Travel Experts - Register
nav
  a(href='/')
    img(src='images/travel_logo.png' alt='travel experts logo' width='120' height='120')
  a(href='/')
    h1 Travel Experts
  ul
    li
      a(href='/login') LOGIN
    li
      a.current(href='/register') SIGN UP
    li
      a(href='/#banner_1') Gallery
    li
      a(href='/#contact') Contact Us
.register
  form#register(action='https://formspree.io/meqrpezq' method='post')
    legend Registration
    p Mandatory fields marked with *
    label(for='f_name') First Name:
    span.required  * 
    input#f_name(type='text' name='user_f_name' required='')
    label(for='l_name') Last Name:
    span.required  * 
    input#l_name(type='text' name='user_l_name' required='')
    label(for='mail') E-mail:
    span.required  * 
    input#mail(type='email' name='user_email' required='')
    label(for='password') Create Password:
    span.required  * 
    input#pwd(type='password' pattern='.{8,}' name='pwd' required='' title='8 characters minimum')
    label(for='conf_pwd') Confirm Password:
    span.required  * 
    input#conf_pwd(type='password' pattern='.{8,}' name='conf_pwd' required='' title='8 characters minimum')
    p Password minimum 8 characters
    legend Select to subscribe to our newsletter:
    input#sub_yes(type='checkbox' name='sub_yes' value='sub_yes')
    button(type='submit') SUBMIT
script(src='main.js')
footer Copyright &amp;copy 2020 Travel Experts
