<!DOCTYPE html>
  include includes/head.pug
  include includes/css.pug
  title Travel Experts - Register
.register
  form#register(action='https://formspree.io/meqrpezq' method='post')
    legend Registration
    p Mandatory fields marked with *
    label(for='f_name') First Name:
    span.required  * 
    input#f_name(type='text' name='user_f_name' required='')
    label(for='l_name') Last Name:
    span.required  * 
    input#l_name(type='text' name='user_l_name' required='')
    label(for='mail') E-mail:
    span.required  * 
    input#mail(type='email' name='user_email' required='')
    label(for='password') Create Password:
    span.required  * 
    input#pwd(type='password' pattern='.{8,}' name='pwd' required='' title='8 characters minimum')
    label(for='conf_pwd') Confirm Password:
    span.required  * 
    input#conf_pwd(type='password' pattern='.{8,}' name='conf_pwd' required='' title='8 characters minimum')
    p Password minimum 8 characters
    legend Select to subscribe to our newsletter:
    input#sub_yes(type='checkbox' name='sub_yes' value='sub_yes')
    button(type='submit') SUBMIT
script(src='main.js')
include includes/footer.pug

